
@import url("../font/stylesheet.css");
/* font import */

/*  dichiarazioni --var */
:root {
  --y-top-banner: 60px;
  --y-nav-top-main: 60px;
  --y-footer-site_footer: 75px;
  --minX-aside-nav-left: 230px;
  --n-box: 6;
}
/* Reset rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color ad Typografhy */
h1,
h2,
h3,
h4,
h5,
h6,
.max_w_fit_c,
.box_text {
  max-width: max-content;
}

h4 {
  font-weight: 300;
  padding: 10px 5px;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter,
p::first-letter,
li::first-letter,
a::first-letter {
  text-transform: uppercase;
}

.text_uppcase {
  text-transform: uppercase;
}
.text_capitalize {
  text-transform: capitalize !important;
}

.pl_10 {
  padding-left: 10px;
}

.cursor_def {
  cursor: default;
}
/* Utility Class */
.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.p_10 {
  padding: 10px;
}
.p_20 {
  padding: 20px;
}
/* --------- */

/* --------- */
body {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: normal;
  color: white;
  text-transform: none;
  font-family: 'Circular Sp UI v3 T',  sans-serif;
}
.site_wrapper {
  height: 100vh;
}

.container {
  max-height: calc(100% - var(--y-footer-site_footer));
  min-width: 100vw;
  background-color: #141922;
}

.nav_aside .aside_link,
#site_header>.btn_upgrade,
aside a,
.content a {
  text-decoration: none;
  color: white;
}


/* aside.nav_left */
/* Asize */
aside.nav_left {
  min-width: var(--minX-aside-nav-left);
  background-color: #000000;
  flex-direction: column;
}

.logo_box {
  margin: 12px 0 12px 12px;
}
.logo_box img {
  height: 40px;
}

.logo_spotify_mobile {
  display: none;
}

li.btn_link {
  width: 100%;
  padding-top: 5px;
  list-style: none;
}
.nav_aside>li.btn_link:nth-of-type(1)>a {
  border-left: 2px solid #1db954;
  filter: contrast(2.3);
}

a.aside_link{
  min-width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  border-left: 2px solid transparent;
  padding: 10px 0;
}

a.aside_link>.aside_icon {
  width: 24px;
  vertical-align: text-bottom;
  margin: 0 8px 0 16px;
}

.nav_aside>li.btn_link:not(:first-of-type) span {
  color: #717171;
}
section.playlist {
  min-height: 30%;
  flex-direction: column;
  flex-basis: 0%;
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
}
section.playlist li{
  list-style: none;
}

.playlist_box {
  height: 100%;
  flex-direction: column;
  margin: 30px 24px 0 24px;
}

.create_playlist {
  height: 42px;
  color: #fff;
  background-color: transparent;
  opacity: 1;
  margin-top: 16px;
}
.create_playlist .add_playlist {
  font-size: 42px;
  margin-right: 8px;
  color: #000000;
  background-color: #A3A3A3;
  vertical-align: middle;
}

.create_playlist span{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
}

.playlist_box .created {
  margin-top: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
}
.playlist_box .created>li{
  text-transform: capitalize;
  padding: 7px 7px;
}

.playlist_box .created>li:not(:nth-child(2))>.item {
    color: #717171;
}

.playlist_box .created>li i.spoticon-play-16 {
  border: 1px solid #10af3f;
  border-radius: 50%;
  visibility: hidden;
  margin-left: 5px;
}

.playlist_box .created>li span:first-of-type {
  padding-left: 10px;;
  display: none;
}

.aside_bottom {
  z-index: 2;
  background-color: #000000;
  margin: 0 24px;
}
.install_app {
  padding: 12px 0;
  border-bottom: 1px solid #717171;
}

.install_app img,
.user_account img {
  margin-right: 5px;
  vertical-align: text-bottom;
}

.install_app img {
  width: 18px;
}

.install_app span {
    color: #717171;
}
.user_account{
  margin: 8px 0 5px 0;
  font-family: 'Circular Sp UI v3 T', sans-serif;
  font-weight: bold;
}
.user_account img {
  width: 22px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: grey;
}
/*  aside */

/* top_banner */
#site_header.top_banner {
  width: calc(100% - var(--minX-aside-nav-left));
  height: var(--y-top-banner);
  background: linear-gradient(0deg, rgba(22, 21, 27, 0) 0%, rgba(33, 33, 36, 0) 2%, rgba(18, 18, 18, 0.667) 0%, rgba(18, 18, 18, 1) 20%);
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 20px;
  justify-content: flex-end;
  z-index: 15;
}

.btn_upgrade {
  background-color: rgba(0, 0, 0, .7);
  border: 1px solid hsla(0, 0%, 100%, .7);
  align-self: center;
  padding: 8px 34px;
  margin-right: 20px;
  border-radius: 500px;
  letter-spacing: 1.76px;
  font-family: 'Circular Sp UI v3 T Book';
  font-weight: 700;
  line-height: 18px;
  transition: all 33ms cubic-bezier(.3, 0, 0, 1);
}
/* top_banner */

/* content */
div.content {
  width: 100%;
  padding-top: 60px;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.content section {
  width: 100%;
  align-self: flex-start;
}

.content img {
  width: 100%;
  padding: 0 10px;
  filter: contrast(1.2);
  box-shadow: 0 4px 60px rgba(0, 0, 0, .2);
}

/* nav.top_main */
nav.top_main {
  min-width: 60%;
  align-self: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
}
nav.top_main a.link {
  min-height: 50px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
nav.top_main .link_bottom_line {
  content: "";
  width: 30px;
  height: 2px;
  margin-top: 4px;
  background-color: hsl(141, 73%, 42%);
  display: none;
}

/* nav.top_main */


/* .content */
/* recently_played */
.albums_box {
  padding: 10px;
}
.album_box {
  width: calc(100% / var(--n-box));
  text-align: center;
  position: relative;
  flex-direction: column;
}

.over_box {
  width: 100%;
  position: relative;
  z-index: 0;
}

.over_box>a {
  width: 100%;
  height: 100%;
  background-color: #141922;
  z-index: 1;
}
.album_box a>.play_song {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
  transition: all .3s ease;
}

figcaption {
  width: 100%;
  padding: 10px;
}

figcaption h3,
figcaption h4 {
  margin: auto;
}

figcaption h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
}
figcaption h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: normal;
}
/* recently_played */

/* .content section.for_you */

#popular_artists img {
  border-radius: 50%;
}

/* .content */

/* Footer */
footer#site_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 90px;
  min-height: 75px;
  background-color: #282828;
  color: aliceblue;
  font-size: 48px;
  padding: 12px;
  justify-content: space-between;
  z-index: 20;
}

footer a {
  text-decoration: none;
}
/* playing_left */
.playing_bar_left,
.playing_bar_right {
  max-width: calc(var(--minX-aside-nav-left) - 12px);
  align-items: center;  
}
.playing_bar_left img {
  max-width: 37px;
  margin-right: 10px;
}

.info_box {
  max-width: 50%;
}

.info_box a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: .015em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon_left {
  width: 25%;
  font-size: 14px;
}

.icon_left a{
  color: #717171;
}

.icon_left .favorites,
.icon_left .my_list {
  margin-left: 10px;
}
/* playing_left */

/* playing_centert */ /* verificare se ad  aside viene assegnato il 30% */
.playing_bar_center{
  width: calc(100% - (var(--minX-aside-nav-left) * 2 ) - 12px);
  min-width: var(--minX-aside-nav-left);
  align-content: center;
  justify-content: center;
}

.player_controls_buttons {
  margin-bottom: 5px;
}

.player_controls {
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.control_button {
  vertical-align: middle;
}

.player_controls_buttons>a:not(:nth-of-type(3)) {
  color: #535353;
  font-size: 14px;
}
.player_controls_buttons>a:nth-of-type(3) {
  color: #b3b3b3;
  font-size: 30px;
}

.player_controls_buttons>a>.play,
.player_controls_buttons>a:first-of-type,
.player_controls_buttons>a:last-of-type {
  margin: 0 14px;
}

/*  .player_controls_line */
.player_controls_line {
  width: 100%;
  justify-content: center;
  align-items: center;
}

span.current_time,
span.song_duration {
  min-width: 40px;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
}
/* progress_line */
span.progress_line,
span.progress_volume {
  background-color: #535353;
  content: "";
  height: 4px;
  border-radius: 4px;
  border-bottom: 1px solid grey;
}

span.progress_line {
    min-width: 80%;
}
span.progress_volume {
  min-width: 60%;
}

span.progress_line_active,
span.progress_volume_active {
  content: "";
  height: 4px;
  border-radius: 4px;
  min-width: 25%;
  background-color: #b3b3b3;
  border-bottom: 2px solid rgb(126, 126, 126);
}
span.progress_line:hover span.progress_line_active,
span.progress_volume:hover span.progress_volume_active{
  background-color: #1db954;
  cursor: pointer;
}

span.progress_line_active_point,
span.progress_volume_active_point {
  content: "";
  height: 6.8px;
  width: 6.8px;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 1px solid rgb(133, 133, 133);
  box-shadow: 0 0 15px #19064e;
  align-self: center;
  display: none;
}
span.progress_line:hover span.progress_line_active_point,
span.progress_volume:hover span.progress_volume_active_point {
  display: inline-block;
  cursor: pointer;

}

/* progress_line */
/* ********* "Ricorda che quando osservi l'ignoto, ******
************* anche anche lui sta osservando te!!"  ****/
.playing_bar_right {
  justify-content: flex-end;
}
.playing_bar_right,
div.other_controls,
.volume_line {
  width: 100%;
  text-align: end;
}

.spoticon-queue-16,
.spoticon-devices-16,
.spoticon-volume-twowave-16 {
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  width: 32px;
  min-width: 32px;
}

.progress_volume {
  margin: auto;
}

.volume_line {
  align-items: center;
}


/* MediaQuery */
@media screen and (max-width: 340px) {

  .btn_upgrade {
    font-size: 12px ;
    margin-right: 5px;
  }
}

@media screen and (max-width: 490px) {
    .playing_bar_left{
      display: none;
    }

  footer#site_footer {
    height: 100px;
    flex-direction: column;
    align-content: center;
  }

  .playing_bar_center, 
  .playing_bar_right {
    align-self: center;
  }

    .playing_bar_center {
      min-width: 100%;
    }

  .playing_bar_right {
    min-width: 60%;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {

  .playing_bar_left {
    width: 100%;
    flex-wrap: wrap;
  }

  .playing_bar_left div.info_box {
    max-width: 100%;
    order: 3;
  }
  .playing_bar_left div.icon_left {
    order: 2;
  }

  .playing_bar_center{
    width: 100%;
    align-content: center;
    justify-content: center;
  }

  .player_controls  {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .playing_bar_right {
    justify-content: flex-end;
  }

}

/* xs <576 */
@media screen and (max-width: 575px) {
  :root {
    --n-box: 2;
    --minX-aside-nav-left: 52px;
  }

  aside.nav_left {
    min-width: 52px;
    padding: 0 0px 0 12px;
  }
  .logo_box {
    margin: 12px 0 0 0;
  }

  .logo_spotify_mobile {
    width: 30px;
    height: 30px;
    display: inline-block;
  }

  .logo_spotify,
  .install_app span,
  .user_account span,
  .aside_link span,
  .playlist {
    display: none;
  }

  .nav_aside>li.btn_link {
    margin-bottom: 5px;
  }

  .nav_aside>li.btn_link:nth-of-type(1)>a {
    border: 1px solid #1db954;
    border-radius: 20%;
    padding: 4px;
    background-color: #6d6d6da1;
    transition: all 0.15s ease-in 0.05s;
  }

  li:hover>a.aside_link {
    border: 1px solid #1db954;
    filter: contrast(2.3);
    padding: 4px;
    background-color: #6d6d6da1;
    border-radius: 20%;
    transition: all 0.15s ease-in 0.05s;
  }

  .aside_bottom {
    position: absolute;
    bottom: 90px;
  }

  .aside_bottom, 
  a.aside_link>.aside_icon {
    margin: 0;
  }
  .install_app {
    border-bottom: 0px ;
  }

  
  .playing_bar_left,
  .playing_bar_right {
      max-width: calc(100% / 4);
    }

  span.progress_line {
    min-width: 60%;
  }

    .spoticon-queue-16,
    .spoticon-devices-16,
    .spoticon-volume-twowave-16{
      width: 25px;
      min-width: 24px;
    }
}
/* sm- >=576px */
@media screen and (max-width: 769px) and (min-width: 576px) {
  :root {
    --n-box: 2;
  }

  .player_controls_line {
    width: 80%;
  }
}
/* md- >=768px */
@media screen and (max-width: 992px) and (min-width: 768px) {
  :root {
    --n-box: 4;
  }

}

/* default lg >= 992 */

/*  xl >=1200 */

@media screen and (max-width: 1370px) {

  figcaption h3,
  figcaption h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}